In [ ]:
# https://www.youtube.com/watch?v=dq73Ghk3MQg&list=PL9ooVrP1hQOEBF5zdCdoMs2l1wws6be2X&index=5

In [3]:
from pyspark.sql import *

Employee = Row("firstName", "lastName", "email", "salary")

employee1 = Employee("a", "ln_a", "a1", 100)
employee2 = Employee("b", "ln_b", "b1", 200)
employee3 = Employee("c", None, "c1", 300)
employee4 = Employee("d", "ln_d", "d1", 400)
employee5 = Employee("e", "ln_e", "e1", 500)

department1 = Row(id="123", name="HR")
department1 = Row(id="456", name="OPS")
department1 = Row(id="789", name="FN")
department1 = Row(id="101", name="DEV")

In [5]:
print(Employee[0])

firstName

In [ ]:
departmentWithEmployees1 = Row(department=department1, employees=[employee1, employee2, employee5])