In [1]:
# https://www.youtube.com/watch?v=dq73Ghk3MQg&list=PL9ooVrP1hQOEBF5zdCdoMs2l1wws6be2X&index=5

In [2]:
from pyspark.sql import *

Employee = Row("firstName", "lastName", "email", "salary")

employee1 = Employee("a", "ln_a", "a1", 100)
employee2 = Employee("b", "ln_b", "b1", 200)
employee3 = Employee("c", None, "c1", 300)
employee4 = Employee("d", "ln_d", "d1", 400)
employee5 = Employee("e", "ln_e", "e1", 500)

department1 = Row(id="123", name="HR")
department2 = Row(id="456", name="OPS")
department3 = Row(id="789", name="FN")
department4 = Row(id="101", name="DEV")

In [3]:
print(Employee[0])
print(department4)

firstName
Row(id='101', name='DEV')

In [4]:
departmentWithEmployees1 = Row(department=department1, employees=[employee1, employee2, employee5])
departmentWithEmployees2 = Row(department=department2, employees=[employee3, employee4])
departmentWithEmployees3 = Row(department=department3, employees=[employee1, employee4, employee3])
departmentWithEmployees4 = Row(department=department4, employees=[employee2, employee3])

In [5]:
departmentsWithEmployees_Seq = [departmentWithEmployees1, departmentWithEmployees2]

spark=SparkSession.builder.appName('dataFrame').getOrCreate()
dframe = spark.createDataFrame(data=departmentsWithEmployees_Seq)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/09 00:43:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
display(dframe)

DataFrame[department: struct<id:string,name:string>, employees: array<struct<firstName:string,lastName:string,email:string,salary:bigint>>]

## Fifa World Cup Use Case

In [7]:
fifa_df = spark.read.csv("data/fifa_player_concat.csv", inferSchema=True, header=True)
fifa_df.show(5)

22/10/09 00:43:51 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , sofifa_id, short_name, long_name, age, dob
 Schema: _c0, sofifa_id, short_name, long_name, age, dob
Expected: _c0 but found:
CSV file: file:///Users/mylee/dev/pyspark-edureka-youtube/data/fifa_player_concat.csv
+---+---------+-----------------+--------------------+---+-------------------+
|_c0|sofifa_id|       short_name|           long_name|age|                dob|
+---+---------+-----------------+--------------------+---+-------------------+
|  0|    20801|Cristiano Ronaldo|Cristiano Ronaldo...| 33|1985-02-05 00:00:00|
|  1|   158023|         L. Messi|Lionel Andrés Mes...| 31|1987-06-24 00:00:00|
|  2|   190871|        Neymar Jr|Neymar da Silva S...| 26|1992-02-05 00:00:00|
|  3|   193080|           De Gea|David De Gea Quin...| 27|1990-11-07 00:00:00|
|  4|   192985|     K. De Bruyne|     Kevin De Bruyne| 27|1991-06-28 00:00:00|
+---+---------+-----------------+--------------------+---+-------------------+
only showing top 5 rows

In [8]:
print(fifa_df.printSchema())
print(fifa_df.columns)
print(fifa_df.count())

root
 |-- _c0: integer (nullable = true)
 |-- sofifa_id: integer (nullable = true)
 |-- short_name: string (nullable = true)
 |-- long_name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- dob: timestamp (nullable = true)

None
['_c0', 'sofifa_id', 'short_name', 'long_name', 'age', 'dob']
17770

In [9]:
fifa_df.describe("short_name").show()

+-------+-------------+
|summary|   short_name|
+-------+-------------+
|  count|        17770|
|   mean|         null|
| stddev|         null|
|    min|     A. Abang|
|    max|Óscar Whalley|
+-------+-------------+

In [10]:
fifa_df.select("short_name", "age").show()

+-----------------+---+
|       short_name|age|
+-----------------+---+
|Cristiano Ronaldo| 33|
|         L. Messi| 31|
|        Neymar Jr| 26|
|           De Gea| 27|
|     K. De Bruyne| 27|
|     Sergio Ramos| 32|
|        L. Suárez| 31|
|        L. Modrić| 32|
|        E. Hazard| 27|
|         J. Oblak| 25|
|      T. Courtois| 26|
|         M. Neuer| 32|
|         D. Godín| 32|
|         T. Kroos| 28|
|   R. Lewandowski| 29|
|        P. Dybala| 24|
|    M. ter Stegen| 26|
|             Isco| 26|
|          H. Kane| 24|
|     A. Griezmann| 27|
+-----------------+---+
only showing top 20 rows

In [11]:
fifa_df.filter(fifa_df.age == 33).show()

22/10/09 00:43:53 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , sofifa_id, short_name, long_name, age, dob
 Schema: _c0, sofifa_id, short_name, long_name, age, dob
Expected: _c0 but found:
CSV file: file:///Users/mylee/dev/pyspark-edureka-youtube/data/fifa_player_concat.csv
+---+---------+-----------------+--------------------+---+-------------------+
|_c0|sofifa_id|       short_name|           long_name|age|                dob|
+---+---------+-----------------+--------------------+---+-------------------+
|  0|    20801|Cristiano Ronaldo|Cristiano Ronaldo...| 33|1985-02-05 00:00:00|
| 21|   138956|     G. Chiellini|   Giorgio Chiellini| 33|1984-08-14 00:00:00|
| 33|   162835|    S. Handanovič|    Samir Handanovič| 33|1984-07-14 00:00:00|
| 34|   164240|     Thiago Silva|Thiago Emiliano d...| 33|1984-09-22 00:00:00|
| 63|   135507|      Fernandinho|  Fernando Luiz Rosa| 33|1985-05-04 00:00:00|
| 99|   168609|          Miranda|João Miranda de S...| 33|1984-09-07 00:00:00|
|192|   163705|      S. Mandanda|      Steve Mandanda| 33|1985-03-28 00:00:00|
|207|   192593|       D. Subašić|     Danijel Subašić| 33|1984-10-27 00:00:00|
|270|   104389|      R. Jarstein|Rune  Almenning J...| 33|1984-09-29 00:00:00|
|290|   183498|        M. Parolo|        Marco Parolo| 33|1985-01-25 00:00:00|
|361|   144622|          Raffael|Raffael Caetano d...| 33|1985-03-28 00:00:00|
|366|   161956|     Borja Valero|Borja Valero Igle...| 33|1985-01-12 00:00:00|
|369|   166706|        M. Škrtel|       Martin Škrtel| 33|1984-12-15 00:00:00|
|374|   173771|      L. Piszczek|     Łukasz Piszczek| 33|1985-06-03 00:00:00|
|378|   177326|      M. Valbuena|    Mathieu Valbuena| 33|1984-09-28 00:00:00|
|480|   121944|B. Schweinsteiger|Bastian Schweinst...| 33|1984-08-01 00:00:00|
|485|   146562|    Santi Cazorla|Santiago Cazorla ...| 33|1984-12-13 00:00:00|
|487|   146760|         Juanfran|Juan Francisco To...| 33|1985-01-09 00:00:00|
|492|   156713|     A. Granqvist|   Andreas Granqvist| 33|1985-04-16 00:00:00|
|497|   163711|        L. Diarra|      Lassana Diarra| 33|1985-03-10 00:00:00|
+---+---------+-----------------+--------------------+---+-------------------+
only showing top 20 rows

In [12]:
fifa_df.filter(fifa_df.age == 33).count()

401

In [13]:
fifa_df.filter((fifa_df.age == 33) | (fifa_df.age == 32)).count()

971

In [14]:
fifa_df.orderBy(fifa_df.age).show()

22/10/09 00:43:54 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , sofifa_id, short_name, long_name, age, dob
 Schema: _c0, sofifa_id, short_name, long_name, age, dob
Expected: _c0 but found:
CSV file: file:///Users/mylee/dev/pyspark-edureka-youtube/data/fifa_player_concat.csv
+-----+---------+--------------+--------------------+---+-------------------+
|  _c0|sofifa_id|    short_name|           long_name|age|                dob|
+-----+---------+--------------+--------------------+---+-------------------+
|11749|   245616|Pelayo Morilla|Pelayo Morilla Cabal| 16|2001-07-12 00:00:00|
|17749|   241638|     B. Worman|          Ben Worman| 16|2001-08-30 00:00:00|
|14894|   243169|   Y. Begraoui|      Yanis Begraoui| 16|2001-07-04 00:00:00|
|10857|   244403|      A. Taoui|          Adil Taoui| 16|2001-08-10 00:00:00|
|14950|   245015|     Y. Roemer|     Yahcuroo Roemer| 16|2001-07-22 00:00:00|
|17297|   245123|  A. Mahlonoko| Augustine Mahlonoko| 16|2001-08-17 00:00:00|
|17724|   244925|F. Tauchhammer|  Fabian Tauchhammer| 16|2001-08-17 00:00:00|
|17316|   244752|     J. Olstad|        Johan Olstad| 16|2001-08-23 00:00:00|
|15384|   241552|   J. Italiano|      Jacob Italiano| 16|2001-07-30 00:00:00|
|17318|   246009|      M. Tilio|         Marco Tilio| 16|2001-08-23 00:00:00|
|16241|   242531|   J. Kitolano|Joshua Gaston Kit...| 16|2001-08-03 00:00:00|
|17336|   242165|      R. Hauge|         Runar Hauge| 16|2001-09-01 00:00:00|
|16638|   245171|  H. Andersson|    Helmer Andersson| 16|2001-09-08 00:00:00|
|17459|   243646|     B. Nygren|     Benjamin Nygren| 16|2001-07-08 00:00:00|
|17278|   245537|      E. Ceide|Emil Konradsen Ceide| 16|2001-09-03 00:00:00|
|17469|   243891|     M. Larsen|         Mads Larsen| 16|2001-09-20 00:00:00|
|10684|   241266|   W. Geubbels|     Willem Geubbels| 16|2001-08-16 00:00:00|
|17689|   245808|  G. Hollywood|      Glen Hollywood| 16|2001-07-17 00:00:00|
|16560|   245341|    C. Bassett|        Cole Bassett| 16|2001-07-28 00:00:00|
|17721|   243621|      N. Ayéva|         Nadir Ayéva| 16|2001-09-09 00:00:00|
+-----+---------+--------------+--------------------+---+-------------------+
only showing top 20 rows

In [15]:
fifa_df.registerTempTable("fifa_table")

/Users/mylee/miniconda3/envs/pyspark/lib/python3.10/site-packages/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [16]:
query = """
    select * 
    from fifa_table 
    where age=32
"""

spark.sql(query).show()

22/10/09 00:43:54 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , sofifa_id, short_name, long_name, age, dob
 Schema: _c0, sofifa_id, short_name, long_name, age, dob
Expected: _c0 but found:
CSV file: file:///Users/mylee/dev/pyspark-edureka-youtube/data/fifa_player_concat.csv
+---+---------+------------+--------------------+---+-------------------+
|_c0|sofifa_id|  short_name|           long_name|age|                dob|
+---+---------+------------+--------------------+---+-------------------+
|  5|   155862|Sergio Ramos| Sergio Ramos García| 32|1986-03-30 00:00:00|
|  7|   177003|   L. Modrić|         Luka Modrić| 32|1985-09-09 00:00:00|
| 11|   167495|    M. Neuer|        Manuel Neuer| 32|1986-03-27 00:00:00|
| 12|   182493|    D. Godín|         Diego Godín| 32|1986-02-16 00:00:00|
| 23|   168542| David Silva|David Josué Jimén...| 32|1986-01-08 00:00:00|
| 95|   139720|  V. Kompany|     Vincent Kompany| 32|1986-04-10 00:00:00|
| 97|   164169| Filipe Luís|Filipe Luís Kasmi...| 32|1985-08-09 00:00:00|
| 98|   167397|      Falcao|Radamel Falcao Ga...| 32|1986-02-10 00:00:00|
|104|   180930|    E. Džeko|          Edin Džeko| 32|1986-03-17 00:00:00|
|137|   157481| Raúl Albiol|Raúl Albiol Torta...| 32|1985-09-04 00:00:00|
|148|   181783|M. Mandžukić|     Mario Mandžukić| 32|1986-05-21 00:00:00|
|193|   168354|  E. Viviano|    Emiliano Viviano| 32|1985-12-01 00:00:00|
|273|   158963|   L. Biglia|Lucas Rodrigo Biglia| 32|1986-01-30 00:00:00|
|275|   165229|L. Koscielny|   Laurent Koscielny| 32|1985-09-10 00:00:00|
|276|   167905| A. Valencia|Luis Antonio Vale...| 32|1985-08-04 00:00:00|
|278|   168530|      Jardel|Jardel Nivaldo Vi...| 32|1986-03-29 00:00:00|
|287|   181786|  V. Ćorluka|      Vedran Ćorluka| 32|1986-02-05 00:00:00|
|288|   183280|     A. Rami|           Adil Rami| 32|1985-12-27 00:00:00|
|296|   185103|  A. Kolarov|  Aleksandar Kolarov| 32|1985-11-10 00:00:00|
|360|   138412|   J. Milner| James Philip Milner| 32|1986-01-04 00:00:00|
+---+---------+------------+--------------------+---+-------------------+
only showing top 20 rows

## Superheros Use Case

In [17]:
superhero_df = spark.read.csv("data/superheros.csv", inferSchema=True, header=True)
superhero_df.show(10)

22/10/09 00:43:54 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , name, Gender, Eye color, Race, Hair color, Height, Publisher, Skin color, Alignment, Weight
 Schema: _c0, name, Gender, Eye color, Race, Hair color, Height, Publisher, Skin color, Alignment, Weight
Expected: _c0 but found:
CSV file: file:///Users/mylee/dev/pyspark-edureka-youtube/data/superheros.csv
+---+-------------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
|_c0|         name|Gender|Eye color|             Race|Hair color|Height|        Publisher|Skin color|Alignment|Weight|
+---+-------------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
|  0|       A-Bomb|  Male|   yellow|            Human|   No Hair| 203.0|    Marvel Comics|         -|     good| 441.0|
|  1|   Abe Sapien|  Male|     blue|    Icthyo Sapien|   No Hair| 191.0|Dark Horse Comics|      blue|     good|  65.0|
|  2|     Abin Sur|  Male|     blue|          Ungaran|   No Hair| 185.0|        DC Comics|       red|     good|  90.0|
|  3|  Abomination|  Male|    green|Human / Radiation|   No Hair| 203.0|    Marvel Comics|         -|      bad| 441.0|
|  4|      Abraxas|  Male|     blue|    Cosmic Entity|     Black| -99.0|    Marvel Comics|         -|      bad| -99.0|
|  5|Absorbing Man|  Male|     blue|            Human|   No Hair| 193.0|    Marvel Comics|         -|      bad| 122.0|
|  6|  Adam Monroe|  Male|     blue|                -|     Blond| -99.0|     NBC - Heroes|         -|     good| -99.0|
|  7| Adam Strange|  Male|     blue|            Human|     Blond| 185.0|        DC Comics|         -|     good|  88.0|
|  8|     Agent 13|Female|     blue|                -|     Blond| 173.0|    Marvel Comics|         -|     good|  61.0|
|  9|    Agent Bob|  Male|    brown|            Human|     Brown| 178.0|    Marvel Comics|         -|     good|  81.0|
+---+-------------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
only showing top 10 rows

In [18]:
superhero_df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Eye color: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Hair color: string (nullable = true)
 |-- Height: double (nullable = true)
 |-- Publisher: string (nullable = true)
 |-- Skin color: string (nullable = true)
 |-- Alignment: string (nullable = true)
 |-- Weight: double (nullable = true)

In [19]:
print(superhero_df.filter(superhero_df.Gender == "Male").count())
print(superhero_df.filter(superhero_df.Gender == "Female").count())

505
200

In [20]:
superhero_df.groupby("Race").count().show()

+------------------+-----+
|              Race|count|
+------------------+-----+
|          Neyaphem|    1|
|          Symbiote|    9|
|        Kryptonian|    7|
|           Ungaran|    1|
|           Martian|    1|
|         Strontian|    1|
| Human / Radiation|   11|
|   Kakarantharaian|    1|
|         Metahuman|    2|
|Dathomirian Zabrak|    1|
|    Human / Cosmic|    2|
|   Xenomorph XX121|    1|
|            Animal|    4|
|       Frost Giant|    2|
|            Cyborg|   11|
|           Inhuman|    4|
|     God / Eternal|   14|
|    Yoda's species|    1|
|     Icthyo Sapien|    1|
|            Rodian|    1|
+------------------+-----+
only showing top 20 rows

In [21]:
superhero_df.groupby("Skin color").count().show()

+--------------+-----+
|    Skin color|count|
+--------------+-----+
|        orange|    1|
|    blue-white|    1|
|          grey|    5|
|         green|   21|
|        yellow|    2|
|orange / white|    1|
|        silver|    5|
|        purple|    3|
|         white|    7|
|          gray|    1|
|   red / black|    1|
|          pink|    2|
|           red|    9|
|          gold|    3|
|             -|  662|
|         black|    1|
|          blue|    9|
+--------------+-----+

In [22]:
superhero_df.sort((superhero_df.Weight).desc()).show()

22/10/09 00:43:55 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , name, Gender, Eye color, Race, Hair color, Height, Publisher, Skin color, Alignment, Weight
 Schema: _c0, name, Gender, Eye color, Race, Hair color, Height, Publisher, Skin color, Alignment, Weight
Expected: _c0 but found:
CSV file: file:///Users/mylee/dev/pyspark-edureka-youtube/data/superheros.csv
+---+--------------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
|_c0|          name|Gender|Eye color|             Race|Hair color|Height|    Publisher|Skin color|Alignment|Weight|
+---+--------------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
|575|     Sasquatch|  Male|      red|                -|    Orange| 305.0|Marvel Comics|         -|     good| 900.0|
|373|    Juggernaut|  Male|     blue|            Human|       Red| 287.0|Marvel Comics|         -|  neutral| 855.0|
|203|      Darkseid|  Male|      red|          New God|   No Hair| 267.0|    DC Comics|      grey|      bad| 817.0|
|549|      Red Hulk|  Male|   yellow|Human / Radiation|     Black| 213.0|Marvel Comics|       red|  neutral| 630.0|
|283|       Giganta|Female|    green|                -|       Red|  62.5|    DC Comics|         -|      bad| 630.0|
|331|          Hulk|  Male|    green|Human / Radiation|     Green| 244.0|Marvel Comics|     green|     good| 630.0|
|119|      Bloodaxe|Female|     blue|            Human|     Brown| 218.0|Marvel Comics|         -|      bad| 495.0|
|718|     Wolfsbane|Female|    green|                -|    Auburn| 366.0|Marvel Comics|         -|     good| 473.0|
|657|        Thanos|  Male|      red|          Eternal|   No Hair| 201.0|Marvel Comics|    purple|      bad| 443.0|
|  0|        A-Bomb|  Male|   yellow|            Human|   No Hair| 203.0|Marvel Comics|         -|     good| 441.0|
|  3|   Abomination|  Male|    green|Human / Radiation|   No Hair| 203.0|Marvel Comics|         -|      bad| 441.0|
|611|Solomon Grundy|  Male|    black|           Zombie|     White| 279.0|    DC Comics|         -|      bad| 437.0|
|229|      Doomsday|  Male|      red|            Alien|     White| 244.0|    DC Comics|         -|      bad| 412.0|
|614|         Spawn|  Male|    brown|            Demon|     Black| 211.0| Image Comics|         -|     good| 405.0|
|504|     Onslaught|  Male|      red|           Mutant|   No Hair| 305.0|Marvel Comics|         -|      bad| 405.0|
|217|     Destroyer|  Male|        -|                -|         -| 188.0|Marvel Comics|         -|      bad| 383.0|
|422|   Machine Man|     -|      red|                -|     Black| 183.0|Marvel Comics|         -|     good| 383.0|
|409|  Living Brain|     -|   yellow|                -|         -| 198.0|Marvel Comics|         -|      bad| 360.0|
| 33|    Anti-Venom|  Male|     blue|         Symbiote|     Blond| 229.0|Marvel Comics|         -|        -| 358.0|
|386|   Killer Croc|  Male|      red|        Metahuman|   No Hair| 244.0|    DC Comics|     green|      bad| 356.0|
+---+--------------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
only showing top 20 rows

In [23]:
DC_heros = superhero_df.filter(superhero_df.Publisher == "DC Comics")
print(DC_heros.count())

215

In [24]:
# superhero_df.sort((superhero_df.Weight).desc()).show()
from pyspark.sql.functions import sum, col, desc

superhero_df.groupby("Publisher").count().sort(desc("count")).show(30)

+-----------------+-----+
|        Publisher|count|
+-----------------+-----+
|    Marvel Comics|  388|
|        DC Comics|  215|
|     NBC - Heroes|   19|
|Dark Horse Comics|   18|
|             null|   15|
|     George Lucas|   14|
|     Image Comics|   14|
|    HarperCollins|    6|
|        Star Trek|    6|
|     Team Epic TV|    5|
|             SyFy|    5|
|      Icon Comics|    4|
|   IDW Publishing|    4|
|         Shueisha|    4|
|      ABC Studios|    4|
|        Wildstorm|    3|
|    Sony Pictures|    2|
|        Rebellion|    1|
| J. R. R. Tolkien|    1|
|        Microsoft|    1|
|       South Park|    1|
|    J. K. Rowling|    1|
|      Titan Books|    1|
|Universal Studios|    1|
|    Hanna-Barbera|    1|
+-----------------+-----+

In [25]:
superhero_df.filter(superhero_df.Publisher == "J. K. Rowling").show()

22/10/09 00:43:56 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , name, Gender, Eye color, Race, Hair color, Height, Publisher, Skin color, Alignment, Weight
 Schema: _c0, name, Gender, Eye color, Race, Hair color, Height, Publisher, Skin color, Alignment, Weight
Expected: _c0 but found:
CSV file: file:///Users/mylee/dev/pyspark-edureka-youtube/data/superheros.csv
+---+------------+------+---------+-----+----------+------+-------------+----------+---------+------+
|_c0|        name|Gender|Eye color| Race|Hair color|Height|    Publisher|Skin color|Alignment|Weight|
+---+------------+------+---------+-----+----------+------+-------------+----------+---------+------+
|309|Harry Potter|  Male|    green|Human|     Black| -99.0|J. K. Rowling|         -|     good| -99.0|
+---+------------+------+---------+-----+----------+------+-------------+----------+---------+------+

In [26]:
superhero_df.filter(superhero_df.Publisher == "South Park").show()

22/10/09 00:43:56 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , name, Gender, Eye color, Race, Hair color, Height, Publisher, Skin color, Alignment, Weight
 Schema: _c0, name, Gender, Eye color, Race, Hair color, Height, Publisher, Skin color, Alignment, Weight
Expected: _c0 but found:
CSV file: file:///Users/mylee/dev/pyspark-edureka-youtube/data/superheros.csv
+---+-----------------+------+---------+-----+----------+------+----------+----------+---------+------+
|_c0|             name|Gender|Eye color| Race|Hair color|Height| Publisher|Skin color|Alignment|Weight|
+---+-----------------+------+---------+-----+----------+------+----------+----------+---------+------+
|153|Captain Hindsight|  Male|        -|Human|     Black| -99.0|South Park|         -|     good| -99.0|
+---+-----------------+------+---------+-----+----------+------+----------+----------+---------+------+

In [27]:
superhero_df.registerTempTable("superhero_table")

In [28]:
query = """
select publisher, count(publisher) as count 
from superhero_table 
group by 1 
order by 2 desc
"""

spark.sql(query).show()

+-----------------+-----+
|        publisher|count|
+-----------------+-----+
|    Marvel Comics|  388|
|        DC Comics|  215|
|     NBC - Heroes|   19|
|Dark Horse Comics|   18|
|     Image Comics|   14|
|     George Lucas|   14|
|    HarperCollins|    6|
|        Star Trek|    6|
|             SyFy|    5|
|     Team Epic TV|    5|
|      ABC Studios|    4|
|      Icon Comics|    4|
|   IDW Publishing|    4|
|         Shueisha|    4|
|        Wildstorm|    3|
|    Sony Pictures|    2|
|        Rebellion|    1|
| J. R. R. Tolkien|    1|
|       South Park|    1|
|      Titan Books|    1|
+-----------------+-----+
only showing top 20 rows